*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}

html, body {
	height: 100%;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

body a {
	color: #42455E;
}

body a:hover {
	color: #A7A398;
}

.wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background-image: url(../img/main_bg.png);
	padding: 0;
	margin: 0;
}

.soc_buttons {
	float: right;
}

.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}

.soc_buttons a {
	color: #cccccc;
	padding-left: 10px;
	font-size: 15px;
}

div.col-md-12 {
	padding: 0;
}

.header_topline {
	color: #cccccc;
	background: #42455E;
	padding: 15px 0;
}

.header_topline a {
	color: #cccccc;
}

.header_topline a:hover {
	color: #FBF0D1;
	text-decoration: underline;
}

.logotyp {
	display: block;
	padding: 10px 0;
	text-align: center;
}

.logotyp img {
	width: 186px;
	height: 44px;
}
/* Menu Button */
.toggle-mnu {
	display: block;
	width: 32px;
	height: 28px;
	margin-top: 8px;
}

.toggle-mnu span:after, .toggle-mnu span:before {
	content: "";
	position: absolute;
	left: 0;
	top: 9px;
}
 
.toggle-mnu span:after {
	top: 18px;
}
 
.toggle-mnu span {
	position: relative;
	display: block;
}
 
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
	width: 100%;
	height: 2px;
	background-color: #42455E;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 2px;
}
 
.toggle-mnu.on span {
	background-color: transparent;
}
 
.toggle-mnu.on span:before {
	-webkit-transform: rotate(45deg) translate(-1px, 0px);
	-ms-transform: rotate(45deg) translate(-1px, 0px);
	transform: rotate(45deg) translate(-1px, 0px);
}
 
.toggle-mnu.on span:after {
	-webkit-transform: rotate(-45deg) translate(6px, -7px);
	-ms-transform: rotate(-45deg) translate(6px, -7px);
	transform: rotate(-45deg) translate(6px, -7px);
}
 
.toggle-mnu {
	float: right;
	position: relative;
	z-index: 2;
}

 #mobile-menu {
	z-index: 2;
}
/*Menu Button End*/

.header_shapka {
	padding: 10px 0;
	background: #D7CDA5;
}

.main_menu {
	float: left;
}

.main_menu .sf-menu {
	margin: 10px 0 0 15px;
}

.icon_mob img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.submenu img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.main_menu .sf-menu a {
	border: 0px;
	background: #D7CDA5;
	color: #24293C;
	font-size: 14px;
	text-transform: uppercase;
	font-family: "RobotoMedium", sans-serif;
}

.main_menu .sf-menu a:hover {
	color: #D7CDA5;
	transition: all 0.3s ease;
	background-color: #42455E;
}

.main_menu .sf-menu .active a {
	color: #FBF0D1;
	text-decoration: underline;
}

.main_menu .sf-menu .active a:hover {
	color: #FBF0D1;
	background: #D7CDA5;
}

.main_menu .sf-menu li {
	background: #D7CDA5;
}

.main_menu .sf-menu .submenu li a:hover {
	border: 1px solid #FBF0D1;
}

.main_menu .sf-menu .submenu li a {
	padding: 10px 20px;
	background-color: #42455E;
	color: #D7CDA5;
	font-size: 12px;
}

.border {
	border-top: 1px solid #42455E;
	opacity: 0.5;
}

/*search*/
.sb-search {
	position: absolute;
	top: 65px;
	right: -150px;
	margin: 15px 0;
	width: 0%;
	min-width: 30px;
	height: 30px;
	float: right;
	overflow: hidden;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;

	-webkit-backface-visibility: hidden;
}

.sb-search-input {
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
		outline: none;
		background: #fff;
		width: 20%;
		height: 40px;
		padding: 10px 65px 20px 20px;
}

.sb-search-input::-webkit-input-placeholder {
		color: #42455E;
}

.sb-search-input:-moz-placeholder {
		color: #42455E;
}

.sb-search-input::-moz-placeholder {
		color: #42455E;
}
.sb-search-input:-ms-input-placeholder {
		color: #42455E;
}
.sb-icon-search,
.sb-search-submit  {
	width: 30px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #D7CDA5; /* äëÿ IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
	filter: alpha(opacity=0); /* IE 5-7 */
	opacity: 0;
	color: transparent;
	border:none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
		color: #42455E;
		background: #D7CDA5;
		z-index: 90;
		font-size: 22px;
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
}
 
.sb-icon-search:before {
		content: "\e000";
}

.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #42455E;
	color: #D7CDA5;
	z-index: 11;
}
/*search*/

/*slider*/
div.col-lg-12.col-md-12 {
	padding: 0;
}

.sl__slide {
	position: relative;
}

.sl__text {
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.7);
	width: 100%;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	padding: 20px 0;
}

.sl__zag {
	font-size: 20px;
}

.sl__zag .sl__desc{
	margin: 0;
	padding: 0 10px;
}

.slick-prev, .slick-next {
	z-index: 1001;
	width: 32px;
	height: 32px;
}

.slick-prev:before, .slick-next:before {
	font-size: 32px;
}

.slick-prev {
	left: 25px;
}

.slick-next {
	right: 25px;
}
/*content*/
div.col-lg-9, .col-md-9 {
	padding: 0;
}

div.col-lg-3, .col-md-3 {
	padding: 0;
}

div.col-lg-8, .col-md-8 {
	padding: 0;
}

div.col-lg-4, .col-md-4 {
	padding: 0;
}

.main_content, .error_str {
	flex: 1;
}

.blog_content {
	float: left;
	width: 855px; 
	min-height: 1140px;
	background: transparent;
	margin-top: 44px;
	border: 1px solid #42455E;
	flex: 1;
}

.sidebar1 {
	float: right;
	width: 285px;
	height: 250px;
	background: transparent;
	margin-top: 43px;
	border: 1px solid #42455E;
}

.recposts li a {
	font-family: "RobotoMedium", sans-serif;
	font-size: 18px;
	margin: 0 5px 0 22px;
}

.recposts li i {
	margin-right: 5px;
	font-size: 14px;
}

.sidebar2 {
	float: right;
	width: 285px;
	height: 230px;
	background: transparent;
	margin-top: 74px;
	border: 1px solid #42455E;
}

.useflinks li a {
	font-family: "RobotoMedium", sans-serif;
	font-size: 18px;
	margin: 0 5px 0 22px;
}

.useflinks li i {
	margin-right: 5px;
	font-size: 16px;
}

.sidebar3 {
	float: right;
	width: 285px;
	height: 150px;
	background: transparent;
	margin-top: 74px;
	border: 1px solid #42455E;
}

.statistics li {
	font-size: 18px;
	font-family: "RobotoMedium", sans-serif;
	color: #42455E;
	margin: 0 10px 0 70px;
}

.zagolov {
	position: relative;
	top: -24px;
	display: block;
	margin: 0 auto;
	height: 48px;
	width: 255px;
	background: #42455E;
	padding: 4px 0;
	color: #cccccc;
	font-size: 27px;
	text-align: center;
	font-family: "RobotoBold", sans-serif;
}

.box_blog {
	margin: 11px 30px 60px 30px;
	background: transparent;
	padding: 5px;
	min-height: 320px;
	border: 3px solid #42455E;
}

.post_img {
	max-width: 180px;
	max-height: 180px;
	padding: 10px 5px 0 5px;
	float: left;
}

.post_title h2 a {
	font-size: 26px;
	margin-left: 15px;
	font-family: "RobotoBold", sans-serif;
}

.post_meta ul {
	list-style: none;
	padding: 5px;
	margin: 0;
}

.post_meta ul li {
	padding-left: 12px;
	display: inline-block;
	color: #24293C;
	font-size: 17px;
	font-family: "RobotoMedium", sans-serif;
}

.post_meta i {
	margin-right: 5px;
}

.post_meta {
	border-bottom: 1px dashed #24293C;
}

.post_text p {
	color: #24293C;
	font-size: 18px;
	margin: 10px 10px 0 10px;
}

.read_more {
	text-align: center;
	margin-top: 12px;
	margin-bottom: 10px;
}

.read_more a {
	color: #fff;
	font-family: "RobotoBold", sans-serif;
	background: #A7A398;
	font-size: 14px;
	text-transform: uppercase;
	padding: 6px 40px;
	border-radius: 4px;
}

.read_more a:hover {
	text-decoration: none;
	color: #24293C;
	background: #D7CDA5;
}

.pagination {
	text-align: center;
	margin-top: 25px;
}

.pagination a {
	color: #fff;
	font-family: "RobotoBold", sans-serif;
	background: #A7A398;
	font-size: 14px;
	display: inline-block;
	line-height: 30px;
	width: 30px;
	border-radius: 4px;
}

.pagination a:hover {
	color: #24293C;
	background: #D7CDA5;
}

.pagination .active {
	color: #24293C;
	background: #D7CDA5;
}

.single_button {
	text-align: center;
	margin-top: -32px;
	margin-bottom: 20px;
}

.single_button a {
	color: #fff;
	font-family: "RobotoBold", sans-serif;
	background: #A7A398;
	font-size: 14px;
	text-transform: uppercase;
	padding: 6px 40px;
	border-radius: 4px;
}

.single_button a:hover {
	text-decoration: none;
	color: #24293C;
	background: #D7CDA5;
}

/*search_nenaideno*/
.search_nenaideno h3 {
	font-size: 36px;
	color: #24293C;
	text-align: center;
	margin-top: 50px;
}


/*search_page*/
.search_page {
	margin: 43px 30px 0 0;
	padding: 20px;
	background: #42455E;
}

.search_page h2 {
	text-transform: uppercase;
	font-size: 14px;
	color: #cccccc;
}

.search_page span {
	color: #D7CDA5;
}

.search_page i {
	padding-right: 7px;
	font-size: 18px;
}

.search_page:before {
	content: "";
	display: inline-block;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #42455E;
	position: relative;
	bottom: -110px;
	left: 50%;
	margin-left: -10px;
}
/*Search POST PAGE*/

.search_post_page {
	width: 100%;
	position: relative;
	margin-top: 15px;
}

.search_post_page input {
	border: none;
	outline: none;
}

.search_post_page .input {
	width: 100%;
	padding: 10px 10px 10px 15px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	font-size: 14px;
	color: #555;
	outline: none;
}

.search_post_page .input:focus {
	color: #333;
}

.search_post_page .search_button {
		color: #fff;
		font-size: 14px;
		outline: none;
		border: none;
		position: absolute;
		right: 0;
		top: 9px;
		background: none;
		color: #c7c7c7;
}

.search_post_page .search_button:hover {
	color: #000;
	transition: all 0.3s ease;
}

.search_post_page .input::-webkit-input-placeholder {
	color: #c7c7c7;
}
.search_post_page .input:-moz-placeholder {
	color: #c7c7c7;
}
.search_post_page .input::-moz-placeholder {
	color: #c7c7c7;
}
.search_post_page .input:-ms-input-placeholder {
	color: #c7c7c7;
}

/*Search POST PAGE END*/
/*error404*/
.error_str h2 {
	text-align: center;
	font-size: 36px;
	color: #24293C;
	margin-top: 50px;
}

.error_str h4 {
	text-align: center;
	color: #24293C;
	font-size: 26px;
	margin-bottom: 10px;
}

.error_str p {
	text-align: center;
	text-decoration: underline;
	font-size: 18px;
}

/*footer*/
.footer {
	background: #24293C;
	margin-top: 25px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.footer p, span {
	color: #cccccc;
}

.footer a {
	color: #cccccc;
}

.text_footer {
	font-size: 18px;
	text-align: center;
}

.contacts_footer {
	float: right;
}

.contacts_footer i {
	font-size: 18px;
	margin-right: 10px;
}

.social_footer i {
	font-size: 22px;
	margin-right: 10px;
}

.footer a:hover {
	color: #FBF0D1;
	text-decoration: underline;
}

/*mail button*/
.mail_form a {
	float: right;
	width: 285px;
	margin-top: 43px;
	color: #fff;
	font-family: "RobotoBold", sans-serif;
	background: #A7A398;
	font-size: 14px;
	text-transform: uppercase;
	padding: 6px 40px;
	border-radius: 4px;
}

.mail_form a:hover {
	text-decoration: none;
	color: #24293C;
	background: #D7CDA5;
}

.hidden {
	display: none;
}

.pop_form input[type="text"] {
	display: block;
	border: 1px solid #cccccc;
	margin: 0 auto;
}

.pop_form textarea[type="text"] {
	display: block;
	margin: 0 auto;
	border: 1px solid #cccccc;
	width: 280px;
	height: 160px;
}

.pop_form .button {
	display: block;
	border: none;
	margin: 0 auto;
	color: #fff;
	font-family: "RobotoBold", sans-serif;
	background: #A7A398;
	font-size: 14px;
	text-transform: uppercase;
	padding: 6px 40px;
	border-radius: 4px;
}

.pop_form .button:hover {
	text-decoration: none;
	color: #24293C;
	background: #D7CDA5;
}

.pop_form h3 {
	margin: 20px auto 15px;
	text-align: center;
	font-family: "RobotoBold";
	text-transform: uppercase;
}